.stosKartPytanie{
    height:15vh;
    width:5vw;
    background:rgb(150, 210, 230);
    border:0.5vw solid rgb(130, 190, 220);
}
.kartaDoWyciagnieciaPytanie{
    left: 0%;
    top: 0%;
    position: fixed;
    height:15vh;
    width:5vw;
    background:rgb(150, 210, 230);
    border:0.5vw solid rgb(130, 190, 220);
}
.karty{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}
#kartaZPytaniemWrapper{
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    top: 100;
    bottom: 0;
    left: 0;
    right: 0;
    /*pointer-events: none;*/
}
.kartaZPytaniem{
    position: relative;
    height: 75vh;
    width: 25vw;
    background:rgb(150, 210, 230);
    border:2vw solid rgb(130, 190, 220);
    display: none;
}

.stosKartEvent{
    height:15vh;
    width:5vw;
    background:rgb(250, 160, 60);
    border:0.5vw solid rgb(230, 140, 50);
}
.kartaDoWyciagnieciaEvent{
    left:6vw;
    top: 0%;
    position: fixed;
    height:15vh;
    width:5vw;
    background:rgb(250, 160, 60);
    border:0.5vw solid rgb(230, 140, 50);
}
#kartaZEventemWrapper{
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    top: 100;
    bottom: 0;
    left: 0;
    right: 0;
    /*pointer-events: none;*/
}
.kartaZEventem{
    position: relative;
    height: 75vh;
    width: 25vw;
    background:rgb(250, 160, 60);
    border:2vw solid rgb(230, 140, 50);
    display: none;
}