body {
    
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
    background-image: url(blat.jpg);
    background-size: repeat;
    background-size: 25%;
    font-family: 'Noto Sans', sans-serif;
    src: 'NotoSans-Regular.ttf';
}
.all {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    margin-left: 1vh;
    margin-bottom: 6vh;
    /* height: 40h;*/
}
#danegracza1 {
    border: 1vb solid rgb(235, 65, 75);
    height: 16vh;
    background-color: rgb(255, 85, 85);
    font-size: 2.2vh;
}

#danegracza2 {
    border: 1vb solid rgb(53, 55, 235);
    height: 16vh;
    background-color: rgb(75, 75, 245);
    font-size: 2.2vh;
}

#danegracza3 {
     border: 1vb solid rgb(235, 235, 60); 
    height: 16vh;
    background-color: rgb(255, 255, 80);
    font-size:2.2vh;
}

#danegracza4 {
    border: 1vb solid rgb(80, 235, 90);
    height: 16vh;
    background-color: rgb(100, 255, 100);
    font-size: 2.2vh;
}

.tura {
    height: 6vh;
    /* background-color: red; */
    width: 100%;
    font-size: 5.25vh;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.calosc {
    display: flex;
}
#plansza {
    /* margin-top: 8%; */
    width: 50vw;
    height: 100vh;
    border: 0px solid black;
    justify-content: center;
    align-items: center;
}

.row {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}

#kostka {
    left: 80vw;
    top: 60vh;
    width: 18vh;
    height: 18vh;
    position: fixed;
    font-size: 2.5vh;
    background-size: cover;
}

.pole {
    width: 5.5vh;
    height: 5.5vh;
    margin: 0.2vh;
    border: 0.25vh solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.puste_pole {
    /* background-color: red; */
    width: 5.5vh;
    height: 5.5vh;
    border: 0.25vh solid transparent;
    margin: 0.2vh;
}

/* #p1 {
    width: 1vw;
    height: 2vh;
    border: 1px solid black;
    background-color: red;
} */

.mute {
    width: 8vh;
    height: 8vh;
    background-color: transparent;
    border: none;
    position: fixed;
    left: 93vw;
    top: 0.5vh;
}

#mute {
    overflow: visible;
    width: 8vh;
    height: 8vh;
    border: none;
    background-color: transparent
}

.back {
    width: 8vh;
    height: 8vh;
    position: fixed;
    top: 0.5vh;
    margin-left: 0.5vh;
    background-image: url(restart.png);
    background-size: cover;
    border: 0;
    background-color: transparent;
}
/*DYSTANS MIEDZY DWOMA POLAMI TO 6.4 VH*/
.pionekred{
    position: absolute;
    height: 2.25vh;
    width: 2.25vh;
    border: 0.25vh solid transparent;
    background-color: red;
    border-radius: 100%;
    z-index: 1;
}
.pionekblue{
    position: absolute;
    height: 2.25vh;
    width: 2.25vh;
    border: 0.25vh solid transparent;
    background-color: blue;
    border-radius: 100%;
    z-index: 1;    
}
.pionekyellow{
    position: absolute;
    height: 2.25vh;
    width: 2.25vh;
    border: 0.25vh solid transparent;
    background-color: yellow;
    border-radius: 100%;
    z-index: 1;
}
.pionekgreen{
    position: absolute;
    height: 2.25vh;
    width: 2.25vh;
    border: 0.25vh solid transparent;
    background-color: green;
    border-radius: 100%;
    z-index: 1;
}